<div class='row'>
    <div class='col-md-6 offset-md-3'>
	    <div class='thread'>
	    	<h4>Judul dari thread</h4>

		    <div class="meta">
		    	21 Agustus oleh Agung Setiawan
		    </div>

		    <div class="content">
		    	Halo teman teman, setelah saya mengadakan survey kepada member IDRails, hasilnya bagus sehingga saya memutuskan untuk membangun fitur forum. Forum digunakan sebagai tempat bertanya jika ada kesulitan.
		    </div>

		    <div class="count">
		    	10 obrolan
		    </div>

		    <div style="clear: both"></div>
		</div>
		<div class='thread'>
	    	<h4>Judul dari thread</h4>

		    <div class="meta">
		    	21 Agustus oleh Agung Setiawan
		    </div>

		    <div class="content">
		    	Halo teman teman, setelah saya mengadakan survey kepada member IDRails, hasilnya bagus sehingga saya memutuskan untuk membangun fitur forum. Forum digunakan sebagai tempat bertanya jika ada kesulitan.
		    </div>

		    <div class="count">
		    	10 obrolan
		    </div>
		    
		    <div style="clear: both"></div>
		</div>
	</div>
</div>